/** Add css rules here for your application. */
* {
  box-sizing: border-box;
}


body {
  height: 100vh;
}

.wrapper {
  height: 100vh;
  width: 100vw;
}

.loginContainer {
  height: 100vh;
  width: 100vw;
}

.loginSection {
  width: 50vw;
  height: 100%;

  display:flex;
  justify-content: center;
  align-items: center;
}

.loginForm {
  display:flex;
  justify-content: center;
  align-items: center;
}

.loginInput {
  border: none;
  outline: none;
  font-size: 1.1em;
  width: 100%;
  background: #e6e6e6;
  color: #333;
  letter-spacing: 0.5px;
  padding: 10px 20px;
  margin: 10px;
  align-self: center;
}

.loginButton {
  color: white;
  padding: 14px 64px;
  margin: 32px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background-image: linear-gradient(to right, #8b33c5, #15a0e1);
  cursor: pointer;
  transition: opacity 0.4s;
  align-self: center;
}

.registerButton {
  color: white;
  padding: 14px 64px;
  margin: 32px auto;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  background-image: linear-gradient(to right, #8b33c5, #15a0e1);
  cursor: pointer;
  transition: opacity 0.4s;
  align-self: center;
}

.loginTitle {
  text-transform: uppercase;
  font-size: 2em;
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  align-self: center;
}


.content {
  display: flex;
}


.chooseGame {
  display: flex;
}

.chooseGame button {
  flex-grow: 1;
  border: 5px solid black;
  cursor: pointer;
}

.chooseGame img {
  width: 7em;

}

